[2013-09-11 16:56] mimshwright opened #2 "Default options are overwritten by options parameter"
When you provide an object for options, only the explicitly defined options come through because the default options object is only used when the options parameter is null. In other words, the code looks something like this...

default = {a: true, b: false, c: 10}
function foo (opt) {
  if (!opt) opt = default;
}
foo(); // a = true, b = false, c = 10
foo({b:true}); // a = undefined, b = true, c =

[2013-09-11 17:00] mimshwright opened #3 "toKana() doesn't take into account double consonants which should convert to a small tsu"
Double consonants should convert the first consonant to a small tsu (っ) unless the consonants are n's.

Need to write tests around this for toKana() and toRomaji().

[2013-09-11 17:58] mimshwright opened #4 "In the demo 'na' -> んあ should be な"
Need to add an option for useIMEMode which when set to true will wait for a "nn" or "n(space)" before transliterating to "ん".

[2013-09-11 18:16] mimshwright opened #5 "Add contributors section to README"

[2013-09-11 18:18] mimshwright opened #6 "Create a demo for kana -> romaji"

[2013-09-11 18:19] mimshwright opened #7 "Create demo that transliterates as you type"
The current demo transliterates like an IME. This new demo would transliterate into another container as you type so "n" -> "ん" , "na" -> "な", "nan" -> "なん"

[2013-09-11 18:20] mimshwright opened #8 "Create full set of unit tests for toRomaji()"

[2013-09-11 18:21] mimshwright opened #9 "move html from source folder to demo folder"

[2013-09-12 15:29] #9 closed, assigned to mimshwright

[2013-09-12 16:40] mimshwright opened #10 "Add a function that automatically turns an input field into an IME"

[2013-09-12 17:03] #4 closed, assigned to nobody

[2013-09-12 18:42] mimshwright opened #11 "macrons should transliterate correctly"

[2013-09-12 18:42] mimshwright opened #12 "apostrophes should transliterate correctly"

[2013-09-13 05:35] #3 closed, assigned to nobody

[2013-09-13 05:46] #5 closed, assigned to mimshwright

[2013-09-16 01:05] #8 closed, assigned to mimshwright

[2013-09-16 17:14] mimshwright opened #13 "Create a demo for katakana -> hiragana and hiragana -> katakana"

[2013-09-16 18:23] #7 closed, assigned to nobody

[2013-10-04 22:29] #12 closed, assigned to nobody

[2013-10-05 22:30] #11 closed, assigned to nobody

[2013-10-16 05:48] #2 closed, assigned to nobody

[2013-10-16 05:50] #6 closed, assigned to nobody

[2013-10-16 05:50] #10 closed, assigned to nobody

[2013-10-16 05:50] #13 closed, assigned to nobody

[2013-10-16 23:45] vietqhoang opened #14 "Android Firefox IME Incorrect Transliteration"
OS: Android 4.2.2
Browser: Firefox 24.0

Under IME mode, I observe the following in sequence:

It looks like it isn't clearing the previous key entries when transliterating the next set of characters.

[2013-10-31 23:50] RagudMezegiz opened #16 "' remaining in output when generating ん"
The ん character is produced in most IMEs by the key combination n'.  When doing that in WanaKana, the characters ん' are produced.  The ' character should not be in the output after conversion.

[2013-11-01 00:25] acalewin opened #17 "Interference with Google and MS IME in kana entry mode"
If I'm in an input bound with WanaKana and I'm using an IME in kana mode, it doesn't generate rendaku appropriately.

For example, I type the し character followed by the ゛ key, I should get じ instead I get the two characters し゛.

![keyboard layout](https://f.cloud.github.com/assets/2614968/1451052/d772c7d6-428b-11e3-820a-479d5f9e70fa.jpg)

![Example input](https://f.cloud.github.com/assets/2614968

[2013-11-01 06:17] #17 closed, assigned to mimshwright

[2013-11-01 06:38] #16 closed, assigned to nobody

[2013-11-01 06:46] vietqhoang opened #18 "Jumping cursor"
Reporting this on behalf of another user. C&P issue experienced:

I wasn't able to replicate exactly with the outputs in the quote, but the cursor does skip to the end of the text after completing translit of a single character. I tested under 1.1.1, and the person experienced it under 1.1.0

Ideally, the cursor would maintain position instead of jumping to the end.

[2013-11-01 07:09] #14 closed, assigned to nobody

[2013-11-01 07:26] #18 closed, assigned to nobody

[2013-11-01 07:35] vietqhoang opened #19 "'n' autocomplete issue when entering in middle of text"
Unfortunately, fixing issue #18 created another one.

Example:
Starting out with にほご. I move cursor right after ほ. If I type a single "n", it autocomplete it to ん, effectively removing the ability to type in the na,ne,no,nu, etc family of characters.

[2013-11-01 08:24] luke-thorburn opened #20 "かきくけこ not input-able using the 'c' key."
I'm not sure if this was a deliberate omission but to me it would make sense to be able to type か as 'ca' and so on, even if it is not the technically correct romaji.

[2013-11-01 18:20] MasterKale opened #21 "Remove _isCharNotKana() function"
I would like to suggest the removal of the _isCharNotKana() function. I think it would be better served by NOT'ing _isCharKana() since they'll always return the opposite of each other.

[2013-11-01 21:12] #19 closed, assigned to nobody

[2013-11-01 21:18] #20 closed, assigned to nobody

[2013-11-01 21:20] #21 closed, assigned to nobody

[2013-11-02 21:13] nibarius opened #22 "Cursor is moved to beginning when typing in Opera on Android"
How to reproduce:
1. Go to wanakana.com using Opera on Android
2. Activate the text field and type "kana"

Expected result:
The text is changed to かな

Actual result:
First か shows up, but then the cursor is moved to the front of the text field making the next letter end up first. So the result becomes なか

Additional note:
When using SwiftKey the cursor is always moved two characters back when typi

[2013-11-04 22:12] mimshwright opened #23 "I can't tell what version of wanakana is being used in the live site"
add a version number variable to the library. it should be based on what's in package.json

[2013-11-04 23:40] #23 closed, assigned to mimshwright

[2013-11-09 00:09] vietqhoang opened #24 "[Android Chrome] First character entry results in cursor moving to the front."
Confirmed with a Samsung S3 + Android 4.2 + Chrome 30.0.1599.105 and Nexus 5 + Android 4.4 + Chrome 30.0.1599.105

On the demo site, focus on IME input. Type in first character to translit, either single char or double char type characters. After transliteration, the cursor moves to the front. Subsequent transliteration results in the cursor placed in front of the first Japanese character that got

[2013-11-12 13:33] zyaga opened #25 "[Rekonq Kubuntu] Cursor is moving/resetting when typing."
Example, typing しりぞく turns out as りしくぞ.

Here is my OS information:
Distributor ID: Ubuntu
Description:    Ubuntu 12.04.1 LTS
Release:        12.04
Codename:       precise

(It's Ubuntu but with KDE)

Here is my browser information:
rekonq
Version 0.9.1
Using KDE Development Platform 4.8.4 (4.8.4)

[2013-11-19 08:27] nibarius opened #26 "First character is in katakana when typing on Android"
In many IMEs on Android (and probably other mobile platforms as well) the first letter you type is automatically made uppercase as that's what you usually want when you type normal sentences.

However this is very annoying with WanaKana since the first letter always becomes katakana instead of hiragana because of this. So to write hiragana as the first character you have to press shift twice (shif

[2014-02-24 21:42] ampaze opened #30 "Text cursor is placed at the end of input after character was substituted"
Typing "na←kataka" should result in かたかな and not かなたか.

Basically the text cursor is placed at the end of input after character was substituted.

This happens in latest Chrome and Firefox (on Windows) on wanikani.com and in the latest sources demo from Github but strangely not on wanakana.com.

[2014-03-15 15:43] notpushkin opened #33 "Tests shouldn't be Mac only"
...and on Mac they probably shouldn't use only Chrome.

[2014-03-15 17:50] #33 closed, assigned to nobody

[2014-05-14 19:29] vietqhoang opened #35 "Breaks when 'ltso' is inputted"
Load the project page, http://wanakana.com/

Type in `ltso` into the input box. Causes the window to freeze. This happens for me on OS X 10.9.2 + Chrome 34.0.1847.137.

Another user confirmed the issue on Windows 7 + Chrome 34.

[2014-05-14 21:40] #35 closed, assigned to nobody

[2014-05-31 17:13] johnnyshields opened #37 "Please tag repo as "1.3.6""
In order for Bower to work, you need to tag the Github repo. You can do this easily from Github at: https://github.com/WaniKani/WanaKana/releases

Please make sure the tag is named "1.3.6", as Bower reads the version number from the tag.

[2014-06-01 17:43] #37 closed, assigned to nobody

[2014-06-14 23:48] maesierra opened #38 "No way to discern between んよう or にょう when converting romaji to kana (Support for n')"
IE: kinyou could be both きにょう　or きんよう. When using IME that's not an issue because the typing is [k i n y o u] for きにょう  and [k i n n y o u] for きんよう. But right now when using toHiragana "kinnyou" becames "きんにょ"
On romaji usually n' is used to mark a single ん when followed by a や/ゆ/よ

[2014-08-25 15:37] tadgh opened #39 "Converting Mixed case to one case( toHiragana() )"
Working on an app and I've run into this issue where toHiragana won't convert mixed case.
For example:
アメリカ人
if it is typed as:
アメリカじん
and then when converted:

answer = wanakana.toHiragana("アメリカじん")

the answer comes back as アメリカじん

Not sure if this is intended behaviour or not, and I can write around it, but I feel like it would make sense for toHiragana to convert the convertable parts and igno

[2015-01-18 08:39] fasiha opened #40 "ー should work with toHiragana (and toKatakana)"
`wanakana.toHiragana("ハツゴーリ")` doesn't convert anything to hiragana because of 'ー'. Will try to find a clean workaround.

Many congrats to @mimshwright on his/her new little one!

[2015-01-23 03:14] johnnyshields opened #41 "Standardize with Ruby mojinizer gem"
The Ruby mojinizer gem has some very solid romaji conversion logic that might resolve some of the issues here:
https://github.com/ikayzo/mojinizer/blob/master/lib/mojinizer/conversion.rb

[2015-01-26 18:46] vietqhoang opened #42 "Windows Phone 8.1 — Double tapping first letter required to register"
Received the following email from a user:

[code]

Unable to confirm since I do not have access to a Windows mobile phone.

[2015-01-26 18:56] mimshwright commented on #42
I don't have one either. Technically, this is a WaniKani issue not a WanaKana issue. Sounds like there could be an issue where the entry field is losing focus after hitting the enter key or something?

[2015-01-26 18:58] vietqhoang commented on #42
Ahh you are probably right. Missed the mention of the author isolating the issue. I'll see if I can obtain a Windows mobile phone and confirm the issue.

[2015-04-17 13:47] vegetableman opened #44 "Support for hankaku"
Are there any plans to support the 'hankaku' variant?

[2015-04-17 13:58] vegetableman commented on #44
Reference:- https://github.com/andrewplummer/Sugar/blob/308d598795fe7a15cfebc02c38aa54839430c091/lib/language.js

[2015-08-06 08:02] johnnyshields commented on #41
@polco @thoogeveen FYI this issue is relevant to the "ー" char not being converted by Wanakana (also https://github.com/WaniKani/WanaKana/issues/40)

[2016-01-23 07:03] jpkelly commented on #42
I have this same issue using an iPad Pro with a Smart Keyboard. Hitting the return ket when submitting an answer causes the entry field to lose focus.

[2016-03-03 12:25] DJTB commented on #42
Received a similar query. Providing it here for more info.
I was unable to reproduce on browserstack with any of their 8.1 windows phone emulators though.

[2016-04-14 11:40] zachmcack opened #47 "wanakana.toRomaji does not convert katakana to uppercase."
When using toRomaji to convert kana/katakana, it returns lowercase.

I believe toRomaji should convert katakana to uppercase, and hiragana to lowercase, much like when using toKana. I'm considering making my own function for it, or editing WanaKana, but WanaKana should have this option.

 If there is already a way for this, please do tell. Thanks!

[2016-04-14 13:18] mimshwright commented on #47
That is not a bad idea. I think it should be an optional flag for that
function defaulting to the way it works now (e.g. uppercaseKatakana = false)
On Thu, Apr 14, 2016 at 04:40 zachmcack <notifications@github.com> wrote:

--
Mims H. Wright

[2016-04-14 16:21] zachmcack commented on #47
I agree. I actually assumed that it already has that optional parameter at first. I've been looking at the code but frankly, I'm not at that level yet. I'm hoping this gets implemented at some point, but this could also serve as a lesson for me.

[2016-04-23 22:15] mimshwright commented on #47
Patched.

[2016-04-23 22:15] #47 closed

[2016-06-05 14:14] Larsie13 opened #48 "Double consonants & Windows IME"
When using the Windows IME (Win7 Pro, x64), double consonants (っ and ッ) are not properly supported. For example, in order to enter **待って (まって)**, one would normally type 'matte'. Doing this without an IME or using Google's IME works fine. However, under Windows 7's IME, this ends up as **まっtえ**.

[2016-07-23 03:57] hasenj opened #49 "Type definitions for typescript"
I took the documentation and converted it to a type definition file named `wanakana.d.ts` and put it in my local project directory. Seems to work fine.

In terms of an npm project I don't really know where to place it, so I don't think I should send a pull request. Plus I'm kind of a newbie to TypeScript so can't tell if my handling of the options parameter is considered good practice or not.

[co

[2016-08-11 19:23] colakugel opened #50 "Romaji -> Kana"
In this sentence in Romaji "kore ga zenbu nonaka de ichiban warui", the output when i convert to Kana is
"これ が ぜんぶ のなか で いちばんわるい ", so the last space is missing. I wonder, why all other spaces were placed correctly, only this one not. Bug?

[2016-08-15 09:19] mimshwright commented on #50
Hi @colakugel, did you type this into a text field to convert it or were you working with the API directly, i.e. by converting the whole string to kana at once?

If you typed this in, the first space after the 'n' converts the 'n' to ん so it actually takes two spaces to get the "ん␣"

[2016-08-17 17:49] colakugel commented on #50
Hi@mimshwright, i used the API directly. wanakana.toKana("kore ga zenbu nonaka de ichiban warui")

[2016-08-22 10:51] mimshwright commented on #50
In that case it's probably a bug! Do you want to try to fix it? If not, I'll have to get to it at some unknown date in the future.

[2016-08-22 11:17] mimshwright commented on #50
Psych! I just fixed it. Please verify the fix!

[2016-12-19 15:36] awcarroll opened #51 "Hiragana input problem on mobile keyboard"
When entering hiragana on the keyboard, I just started having a new problem The English meaning input is fine, but the hiragana reading input is acting up. For instance, if I were entering the reading for 人, I would just enter in "hito" and I get what I want. But now, after I enter "hi", I end up with ひ on screen and highlighted. And since it is highlighted, when I enter "to", I get a と that has r

[2016-12-19 15:50] awcarroll commented on #51
Some keyboards don't have this problem. Two that do not are Google and SwiftKey.

[2017-01-22 11:14] mah3uz opened #52 "Problem to Bind with CKEDITOR"
I am trying to bind Wanakana in CKEDITOR. But it doesn't work. Is it possible to bind with CKEDITOR?

[2017-02-28 01:28] franciscop opened #53 "Release on NPM"
The latests version on NPM is the 1.3.7 while it seems the latest version here is the 1.3.11. Would you mind to release the latest version in NPM please?

It should be as easy as:

[code]

Thank you!

PS, I'm using unpkg.com so the site breaks with the last `module.exports`, which doesn't appear on the current release: https://unpkg.com/wanakana@1.3.7/lib/wanakana.js

[2017-02-28 07:03] mimshwright commented on #53
Interesting. I wasn't aware that we ever released it on npm. I'll see if it's possible for me to republish.

[2017-02-28 23:37] mimshwright commented on #53
I am not authorized to update that package. Someone else has registered the package on NPM. I did ask to be added as a contributor but in the meantime, you can message the owner of the package.

[2017-02-28 23:47] franciscop commented on #53
The people at NPM are great, so if you cannot solve it with the person who registered it for any reason you can just contact NPM and they will likely put you as the maintainer. I will contact the owner of the package though.

[2017-03-10 00:41] AlexAltea opened #54 "Issues with double 'n' words"
(Hopefully this is not duplicated. I've seen many issues involving ん, but none matched my problem.)

The problem happens while typing ん followed by {な,に,ぬ,ね,の}. E.g. typing `onna`, I would expect "おんな" as output, but instead I get "おんあ".

This is specially troublesome as I have to remember to input a triple `n` every time.

[2017-03-10 01:19] MasterKale commented on #54
Correct me if I'm wrong but don't most IMEs require you to double-tap 'n' to get ん? That's what I'm used to with the default IMEs on Windows and Mac.

[2017-03-10 01:33] vietqhoang commented on #54
This is working as expected. Double tapping `n` or `n` + space will complete the `ん` transformation. It is done this way to leave out ambiguity.

[2017-03-10 01:33] #54 closed

[2017-04-09 20:22] DJTB commented on #53
For anyone interested, I forked this to add some extra methods, got fed up with the Coffeescript, started converting to modern JS, and got pretty carried away... long story short it's [on npm](https://www.npmjs.com/package/kanawana) and in UMD format so it should work fine with unpkg.

I extracted functions into modules to allow for individual imports of the utility functions (`import 'isHiragana'

[2017-04-09 21:42] seanblue commented on #48
Are there plans to address this issue? It is still happening with the Windows IME on Windows 10.

[2017-04-10 05:41] mimshwright commented on #53
@DJTB That's actually great news. I originally wrote it in Coffeescript because the project was spec'd as such, but having it in CS meant that I somewhat dread making changes to it 😭 . It's not totally clear whether I have the authority to make this call but I'd like to sunset the CS version into another branch and make an ES6 version the master.

I'll take a look at yours.

[2017-04-10 05:48] vietqhoang commented on #53
I am down with sunsetting the CS version for ES6.

[2017-04-10 10:28] DJTB commented on #53
I'm easy, all the groundwork was by the original contributors ^^

I didn't remove any of the old tests, only added more - so theoretically I guess there shouldn't really be breaking changes, just unexpected benefits like `!` converting to `！` in the IME mode.

For reference, #45 and #46 are both integrated in the ES6 version.

[2017-04-10 12:35] DJTB commented on #52
Not really unfortunately. CKEDITOR basically uses an entire webpage as the editor, filled with HTML markup for all the different text styles entered while editing.

Wanakana is designed to convert pure text (which is what input fields usually generate).

[2017-04-11 03:19] mah3uz commented on #52
Thank you :)

[2017-06-09 20:17] mimshwright commented on #53
Hey everyone, the owner of the NPM package has given me permission to publish the module. Only now, i have 3 problems.
1. I am having some issues with the code. I THINK it's working ok but the grunt-qunit task is not running due to an error on phantomjs. I haven't touched it in so long that I'm not confident in being able to build it anymore. Maybe someone can either build it and confirm that it's

[2017-06-10 08:42] DJTB commented on #53
Should be reasonably* straightforward.

Regarding NPM, I set up kanawana to be able to publish multiple packages (was thinking of providing IME mode separate to the convenience/text methods) - but it confuses the build system slightly, especially since it only is publishing a single package right now! I'll simplify that back to just publishing the main/single package. As well as a find/replace kan

[2017-06-11 01:51] vietqhoang commented on #53
I have sent the invite @DJTB. Let me or @mimshwright know if you need anything else.

[2017-06-13 16:35] DJTB commented on #53
Started the conversion in [release-2.0](https://github.com/WaniKani/WanaKana/tree/release-2.0) branch.
Still in progress. Updated build & release scripts looking good so far.

Distribution files aren't committed - but the compiled browser package can still be copied during publish to the gh-pages branch for inclusion in demos/wanakana site.

@vietqhoang What do you want to do about docs?
* Just li

[2017-06-13 16:42] vietqhoang commented on #53
Thanks for the hard work. I think third option is the best?

[2017-06-15 10:33] DJTB commented on #53
Naturally, but .

I was going to copy the current gh-pages branch to the master branch in a subdir - so it can then be pushed to gh-pages branch automatically with any updated changes from releases. However, the assets appear to have been built at some point - and I can't see how/where that was done. Is it from a separate repo? I can just hardcode the html changes if you won't want/need to rebuild

[2017-06-16 18:29] vietqhoang commented on #53
The pages and assets are all there is; no preprocessing is done.

Manual is fine, but if you want to streamline it go for it.

[2017-06-17 11:46] DJTB commented on #53
Well, the assets include scss -> css but I won't change styling anyhow. Manual it is!

I've sent through a request to the WaniKani github org from travis and coveralls for authorization. @vietqhoang could you accept or prod someone else on the org to do so?

Should be ready to merge and publish once the CI passes and I've updated those links in the readme.

[2017-06-17 17:13] vietqhoang commented on #53
Ahh was there SCSS? Been so long sincr I looked.

Missed the Travis request. Sorry. Just approved the rest of your requests.

[2017-06-17 18:31] DJTB commented on #53
Aww dang. Think you'll have to log in to travis and flip the switch for me.

![image](https://user-images.githubusercontent.com/5353151/27255278-6c86c31c-539b-11e7-91d6-52af017dfb7b.png)

https://travis-ci.org/profile/WaniKani

[2017-06-17 18:35] vietqhoang commented on #53
Switch is flipped

[2017-06-17 21:16] DJTB commented on #53
@mimshwright @vietqhoang Do either of you want to pull down [release-2.0](https://github.com/WaniKani/WanaKana/tree/release-2.0), run `npm run build` and play with the dist files at all before I merge to master -> publish as 2.0.0?

#### After building:
`dist/*.*` files for direct/slim es6 imports
`dist/lib/wanakana.js` = main umd build
`dist/lib/wanakana.min.js` = minified umd build
`dist/lib/wan

[2017-06-18 08:31] #52 closed

[2017-06-20 18:22] vietqhoang commented on #53
Ran the build and took a look. Everything looks good to me. 👍 Thanks for the hard work.

[2017-06-20 18:45] DJTB commented on #53
Right on! I'll publish it in the next day or so and deprecate kanawana -> point people to this package.

I'd love to take a stab at some of the remaining input issues sometime but there isn't a device lab hereabouts for me to test on. I doubt that emulation will provide valuable results, but I might see what browserstack can provide anyway.

If any general new issues crop up from the release I sho

[2017-06-20 19:03] DJTB commented on #53
@mimshwright Can you add (or ask cuongcua90 to add) viet and I (or the entire WaniKani org?) as collaborators using [npm access](https://docs.npmjs.com/cli/access)?

Otherwise if I try to publish I'm pretty sure it'll be rejected.

[2017-06-21 14:19] mimshwright commented on #53
@DJTB I added you to WanaKana on NPM. You should be able to publish. If @vietqhoang  or anyone else wants to be added, please let me know your npm handle.

Also, @DJTB I just noticed you're also in Berlin. Me too. How cool!

[2017-06-21 17:42] DJTB commented on #53
Ah.. yes... well... あのーー... I was!
And will be again I suppose, I have some close friends there.

I've been moving about every 1-3 months for the past few years, so at any one time all my interweb accounts will say I'm in different countries. Causes trouble it does.

Perhaps I should make a script that can update all my damn accounts at once through `navigator.geolocation`. I'll even resort to pro

[2017-06-21 17:47] #38 closed

[2017-06-21 17:47] #39 closed

[2017-06-21 18:15] DJTB commented on #53
:tada: :balloon: :tada:
Complete via 4e7b6ffff59ee6dccbf14250b9e902ba70cfb309

[2017-06-21 18:15] #53 closed

[2017-06-21 18:21] DJTB commented on #40
Thanks for all your work!

I included these changes in a recent update (4e7b6ffff59ee6dccbf14250b9e902ba70cfb309)

[2017-06-21 18:21] #40 closed

[2017-06-21 18:22] DJTB commented on #50
This should now be fixed as of [2.0.1](https://github.com/WaniKani/WanaKana/releases/tag/2.0.1)

[2017-06-21 18:22] #50 closed

[2017-06-21 21:55] vietqhoang commented on #53
@mimshwright My npm handle is viethoang. Thanks!

[2017-06-29 03:42] vietqhoang commented on #51
This seems to be software keyboard dependent. May be worth investigating if it is possible to override the highlighting somehow.

[2017-06-30 08:32] DJTB commented on #49
Hey, thanks for taking a shot at this. We've recently moved over the project from coffeescript to modern javascript - and all the functions now have both docstrings and default params so any reasonable IDE should provide info if you're using the unminified packages.

![def](https://user-images.githubusercontent.com/5353151/27727521-1ec609f6-5d7f-11e7-8dab-01b96cae353f.png)

[2017-06-30 08:32] #49 closed

[2017-06-30 09:03] #26 closed

[2017-07-09 12:15] DJTB opened #56 "Autocapitalize / Autocorrect"
The `autocapitalize="off"` and `autocorrect="off"` values have been deprecated and we should try changing these values to `"none"`.

Browser implementation is... varied for these values, but for a `type="text"` input they should be respected with the `"none"` value.

I'll update docs - but anyone using WK should probably update their input fields.

[2017-07-09 12:24] DJTB commented on #56
Oh... I already changed this in the docs :octocat:
Consider this a reminder to update any input fields then ~

[2017-07-09 23:01] #56 closed

[2017-07-12 02:54] floridagamer07 opened #57 "Locking conversion to Hiragana or Katakana"
When using wanakana to bind an input I would like to suggest adding an option to lock conversion to hiragana or katakana. For now I have found a workaround by adding a custom eventListener and calling toKana(), feeding it text converted to upper/lower case.

[2017-07-12 07:58] mimshwright commented on #57
Well, the IME mode is just for convenience and does pretty much the exact same thing as your workaround, that said, this would be an easy feature to add and sounds useful.

Would you like to submit a pull request for this?

[2017-07-12 09:20] DJTB commented on #57
Just a note - a quick look at the code shows that only `toKana` was really set up for dynamic input. Also, the `onInput` handler used in the IME mode does some extra cursor resets to ensure the input cursor is placed at the end of the altered input.

Direct calls of `toHiragana` with a stream of input could miss some of the features - it's probably worth breaking out the IMEMode references to be h

[2017-07-12 09:53] DJTB commented on #57
@floridagamer07 Do you want to give https://github.com/WaniKani/WanaKana/blob/dev/gh-pages/assets/js/wanakana.min.js a shot and let me know if it's working as expected for you?

[2017-07-13 00:51] floridagamer07 commented on #57
Thanks for the quick response. I tried out the code and it works as expected, changing the option to toHiragana/toKatakana will lock the input conversion. Though one bug I found was when you bound an input with `wanakana.bind(input);` the 'n' block (なにぬねの) cannot be entered, it will show up as (ex. んあ), but binding an input with `wanakana.bind(input, { IMEMode: true });` everything works as expect

[2017-07-13 16:55] DJTB commented on #57
Good catch! I've updated it now and everything seems groovy.
@mimshwright want me to go ahead and publish?

[2017-07-13 17:55] mimshwright commented on #57
Sure. Go for it.
On Thu, Jul 13, 2017 at 18:55 Duncan Bay <notifications@github.com> wrote:

[2017-07-13 20:01] DJTB commented on #57
Live on NPM.

[2017-07-13 20:01] #57 closed

[2017-07-23 18:10] DJTB commented on #48
I'd love to tackle this - but I don't have access to a windows environment to take a shot at debugging it. There's a *possibility* it can't be addressed anyway, depending on how the Microsoft IME handles cursor position.

Any PRs or explicit information on how the input field value changes are welcome.

[2017-07-23 18:51] Larsie13 commented on #48
While I'm not a JS developer myself, it seems there are IME APIs available in JS (well, they're events, actually).
[This StackOverflow question](https://stackoverflow.com/questions/7316886/detecting-ime-input-before-enter-pressed-in-javascript) might help get you started.

[2017-07-29 11:59] DJTB commented on #48
I've added a flag to ignore any `input` events between `compositionstart` and `compositionend`.

This should actually improve performance minutely since we can exit much earlier before checking what the input is and whether it needs conversion (which of course kana IME input would not need). However `input` still fires once at the end of composition, so any romaji entered via an IME would still be

[2017-07-29 15:15] seanblue commented on #48
@DJTB Is there any way to test this without pulling down the repo and building it? If so, I'd be willing to try it out.

[2017-07-29 15:25] DJTB commented on #48
Available for a limited time only: http://a734dbbf.ngrok.io/
Let me know when done.

[2017-07-29 15:31] DJTB commented on #48
Seems I was wrong about that final input event!
Only affects users entering latin chars via an IME.
It'll convert if they then input a space/anything afterwards.

I can probably tack on a conversion to `compositionend` if we want to have that functionality.
I'll try that now.

[2017-07-29 15:43] seanblue commented on #48
@DJTB I'm done testing. Looks like it fixes the bug. I also spot checked other IME and non-IME input data and everything seemed to work fine.

[2017-07-29 16:04] DJTB commented on #48
@seanblue
Could you do the same tests again, including one situation where you enter latin characters with the IME?

I updated it to do a conversion after composition, to convert any latin characters, should they be entered via IME for whatever reason.

[2017-07-29 16:28] seanblue commented on #48
@DJTB I had already tested that case in the old version (since I saw your previous comment about it). It seems to work exactly the same in the new version.

However, I think there is one difference between the old and new versions, when using the hiragana input mode of the IME.

Typing 「わかｔｔ」in the IME and stopping before typing the last _a_ by pressing _Enter._

The previous version you had deplo

[2017-07-29 17:00] DJTB commented on #48
I think trying to support early exit from IME isn't something we can/should do.

Realistically you would input your kana [わか], press *Enter* then turn off IME or switch to romaji mode for [romaji], *Enter*, then back on again/kana mode. If you're using an IME, you shouldn't do half kana conversion then a few letters, then expect to complete those letters to kana with the input field auto conversio

[2017-07-29 17:22] seanblue commented on #48
Yeah, I wasn't trying to say that half-typed IME (kana) text should be converted. Since I couldn't reproduce the issue you described, I thought that's what you were trying to handle for some reason. Now it's clear that that wasn't you intention, so I guess that was just a side effect.

Perhaps the issue you described doesn't happen in the Microsoft IME, but either way everything seems to work as e

[2017-08-02 16:03] DJTB commented on #51
Hey @awcarroll I recently pushed a fix for Microsoft IME, and in fixing it we now ignore input during composition. It's possible it has fixed your issue as well. One can only hope :pray:

Could you try the first test input with Swype/Samsung Keyboard at http://wanakana.com/#ime and report back?

[2017-08-04 15:15] DJTB commented on #48
So it appears that mobile keyboards are also firing `compositionstart` & `compositionend` - mainly because they are composing to provide autocomplete suggestions. However they will only fire `compositionend` after user chooses an autosuggest option, enters a space, or taps enter key (bottom right of keyboard usually). So with the Microsoft fix, these keyboards won't convert anything during composi

[2017-08-05 01:25] seanblue commented on #48
Sure, just let me know. I'll run through some tests on my computer and iPhone.

[2017-08-05 01:35] seanblue commented on #48
@DJTB Maybe I'm misunderstanding the mobile issue you mentioned, but it looks like it's working fine on `wanakana.com` using my iPhone's IME. What mobile device were you seeing this issue on? And can you give specific steps to reproduce the issue so I know what to look for?

[2017-08-05 08:07] DJTB commented on #48
Android / Nexus, stock Google keyboard (GBoard).
I've had a few user reports and tested myself.

[2017-08-05 09:06] DJTB commented on #48
Ok @seanblue can you give iPhone/Microsoft IME a shot at http://821d54e5.ngrok.io/

Want to confirm (alongside normal conversion) cases with double consonants like:
`matta` -> `まった`
`gasshou` -> `がっしょう`
`kekkon` -> `けっこん`
`donnna` -> `どんな` (should not have っ)

I'll check Android.

[2017-08-05 17:48] seanblue commented on #48
Yeah, it looks like the iPhone's IME works the same as how you described the Google IME, converting the double consonant early.

[2017-08-05 18:03] DJTB commented on #48
I'm pretty sure my new solution works for the affected mobile keyboards and Microsoft IME.
Can you do your worst at http://5b30042e.ngrok.io/gh-pages for me?

[2017-08-05 18:21] seanblue commented on #48
Seems to work fine using the Microsoft IME and the iPhone IME.

[2017-08-05 20:13] DJTB commented on #48
Confirmed mobile input with affected users.

[2017-08-05 20:13] #48 closed

[2017-08-08 22:34] seanblue opened #61 "Cursor goes to the end of input when converting the middle of text"
This may not be easy/possible to fix, but this case is relevant when fixing a typo. For example, you typed しなった, but meant to type しまった. Here are the steps to reproduce:

1. Type _sinatta_, which is converted to しなった. This results in the cursor being at the end of the input.
2. Move the cursor to before/after the な.
3. Delete the な. The cursor is now after the し.
4. Type _ma_, which is converted t

[2017-08-09 07:56] DJTB commented on #61
This might be a `wontfix`.

We can set the cursor position after conversion since we know the keypress input length, which is often different to the converted characters. `kokonotsu` vs `九つ`. It might be difficult to guess what has been removed on a correction, especially if characters are selected and replaced. Inserting the cursor incorrectly is definitely less desired than *consistently* settin

[2017-08-09 08:00] DJTB commented on #30
Linked to #61

[2017-08-09 09:54] seanblue commented on #61
I figured that might be the case. It's pretty minor anyway.

[2017-08-14 16:46] awcarroll commented on #51
Sorry it took so long. I just tried it with my Swype keyboard and it works great.
-Alan

On Wednesday, August 2, 2017, 12:03:41 PM EDT, Duncan Bay <notifications@github.com> wrote:

Hey @awcarroll I recently pushed a fix for Microsoft IME, and in fixing it we now ignore input during composition. It's possible it has fixed your issue as well. One can only hope 🙏

Could you try the first test input

[2017-08-14 20:26] DJTB commented on #51
Better late than never :wink:, thanks for the feedback.

[2017-08-14 20:26] #51 closed

[2017-08-14 20:36] DJTB commented on #25
Closing since Rekonq appears to be abandoned (last update was in 2014) and is no longer default browser for KDE.

Willing to re-open if someone can provide a recent relevant example of the same issue.

[2017-08-14 20:36] #25 closed

[2017-08-14 20:55] DJTB commented on #22
@nibarius I don't suppose you still have access to the previous devices and could give this another test on the current www.wanakana.com ?

From what I've been able to test (S4, Nexus 7), newer versions of chrome/opera seem to function as expected. Hopefully this has been resolved due to modified wanakana source + browser improvements over the past 4 years.

[2017-08-14 21:04] DJTB commented on #24
Could not reproduce with Nexus 5, Android 4.4, Chrome 58

[2017-08-14 21:04] #24 closed

[2017-08-15 07:32] DJTB commented on #44
@vegetableman were you referring to a static `toHankaku()` conversion helper method, or an IME mode that performs inline conversion to hankaku?

If inline conversion, could you explain a relevant use-case for that mode?

[2017-08-16 20:24] nibarius commented on #22
I don't have the same phone as when I originally reported this, but I've tested on my current Nexus 5x and in Opera for Android version 42.

When I'm using the default google keyboard it automatically selects the character I've inputted after conversion. So as soon as I type something else the previous text is removed.

This does not happen with the Swype keyboard. And it does not happen in Chrome

[2017-08-16 20:47] DJTB commented on #22
Thanks for the response!

Perhaps force-clearing any selection ranges after conversion might resolve this issue.
Not sure how I'll be able to test this - I'll let you know if you can do a quick test again sometime :wink:

[2017-08-24 08:24] nnishimura opened #62 "String with long vowel(ー) and Hiragana does not work on toHiragana"
[code]

This seems to happen when the input is !Katakana + 'ー'
Gonna find a workaround on this, but they should work.

[2017-08-24 12:03] DJTB commented on #62
Oh hey, good catch!

Some of these weren't really tested for since there aren't any valid long vowel continuations in your example inputs.

Regardless, we should still be passing through invalid ー markers  and converting as much as possible!
`てすート` => `てすーと`
`tesート` => `てsーと`

I've found the culprit and added your test cases.

[2017-08-24 12:10] #62 closed

[2017-08-24 12:11] DJTB commented on #62
If you break anything else with weird combos feel free to create more issues! :sunglasses:

[2017-08-28 05:06] DJTB opened #63 "Include full-width numbers in isJapanese()"
The current implementation of `isJapanese` will pass for kanji, kana, and zenkaku punctuation.
However the text `２０１１年` will fail due to the zenkaku numbers.

If `「！？ ` will pass as true, I think `１２３` should pass as well since numbers are likely to be paired with kanji anyhow. Normal characters like `[!?123` would continue to fail.

We still don't allow "ｗｉｄｅ　ｌａｔｉｎ" letters to pass - but numbers

[2017-08-28 05:20] DJTB commented on #63
Actually, now I've thought about it further - I'll add all the relevant missing zenkaku/hankaku since they *will* appear in Japanese text - and should really pass `isJapanese`.

This method isn't used internally with IME conversion or any of the `toX` so I think it's safe to improve it.

Apart from some of the punctuation, most of these charcodes below are not currently included in the checks.
[co

[2017-08-28 06:29] vietqhoang commented on #63
No objections. I agree with with your assessment.

[2017-08-28 10:48] #63 closed

[2017-08-31 04:19] tsomeq opened #65 "toRomaji() option for KUNREI method"
Japanese ROMAJI has 2 standard methods.
The kunrei-shiki and hepburn-shiki.
( word "shiki" means "method" )
https://en.wikipedia.org/wiki/Kunrei-shiki_romanization

How about supporting KUNREI method with an option?

[2017-09-30 16:02] Mamonbo opened #66 "A comment to `toKatakana()` doesn't match the real behavior"
Should it be "ウィ" ?
https://github.com/WaniKani/WanaKana/blob/fe1181ed3ccf590e58cb6aa49741fe296a31dd31/src/toKatakana.js#L18

[2017-10-01 05:50] DJTB commented on #66
I must've typo'd that. Thanks! :+1:

[2017-10-01 05:59] #66 closed

[2017-10-10 10:49] DJTB commented on #65
I'm not sure that multiple romaji implementations is something we want to include in the scope of Wanakana. It'll require a new conversion table and increase the filesize, and then there's a question of whether we should then support other romaji variants as well.

More importantly, there's features of Kunrei that we couldn't support out of the box without some sort of syntactical/morphological an

[2017-10-10 10:52] DJTB commented on #44
Closing due to inactivity.

There are various hankaku conversions available on github which input could be piped into after conversion to kana.

[2017-10-10 10:52] #44 closed

[2017-10-10 10:53] DJTB commented on #41
Closing due to punctuation/long char combo conversion improvements.

[2017-10-10 10:53] #41 closed

[2017-10-12 03:42] #30 closed

[2017-10-12 04:06] #61 closed

[2017-10-15 09:12] Geggles opened #68 "Underscore in katakana"
Is there a reason as to why `_` are not replaced by `ー` when converting from romaji to katakana? I mean sure, you may want to type an actual underscore, but the same reasoning applies to the minus sign. When using IME mode to convert romaji to katakana, you generally type everything in upper case, so a `-` becomes `_`. Before changing this in the code, I wanted to make sure that this is not intend

[2017-10-15 15:28] DJTB commented on #68
##### Aside:
You'll want to enclose terms in backticks \` \` to write anything that can be interpreted as markdown. IE. underscores denote italics.

#### Short Answer:
The reasoning is to keep in line with normal IME conversion, in a sense of WYSIWYG.
Typing `ge-mu_.,<>()` in Google IME converts to `げーむ＿。、＜＞（）`
Similarly in katakana mode you will get `ゲーム＿。、＜＞（）`

#### Long Answer:
Using capitals

[2017-10-15 16:52] Mamonbo opened #69 "`toRomaji()` never translitterates `っ` to ltu"
When the input has "っ" followed by a Japanese character, the return repeats the first romaji character of the latter Japanese character.
But in some cases, it doesn't looks good.
[code]
Is that your intended behavior? What do you think this function is to be used for?

[2017-10-16 01:32] DJTB commented on #69
The "nextCharIsDoubleConsonant" is to allow Japanese IME input while still converting toKana - it's to handle differences between Microsoft and Google when converting toKana (they use っ differently).

It should probably be disabled for toRomaji though!

Could you provide some other examples to test conversion with?

For Example:
[code]
I'm not sure what the intended input and output was for `どっaと`

[2017-10-17 07:16] Geggles commented on #68
Alright, thank you for your thorough explanation, that does make a lot of sense. Maybe we could implement an API to customize the default behaviour, like an `update_mapping` function or something along those lines?

[2017-10-20 00:24] DJTB commented on #68
Could potentially be added to options, and merged with the pre-defined mappings.

I'm concerned that edge cases handled at different stages of `toKana` might end up different to what's expected with an updated mapping. I'm thinking of sequences along the lines of `kkou`, `nya`, `ltsu` and `n'`.

Not sure I can think of a specific example that would definitely go wrong, but since the actual 1 -> 1

[2017-10-23 04:01] DJTB commented on #69
#### Which do you think would be a more a reasonable result?
When っ is followed by non-kana char, it results in a single prime `'`
[code]

When っ is followed by non-kana char, it is discarded/ignored.
[code]

[2017-10-23 11:30] Mamonbo commented on #69
Ignoring っ is not so bad;it is simple but in normal cases, it does not change the mean of sentences so much.

Btw, how about having an option or the second argument so that the users can choose how to treat this kind of っ?

[2017-10-25 23:11] DJTB opened #71 "MacOS native IME input composition"
User report regarding using IME input in a field with Wanakana active:

[2017-10-25 23:13] DJTB commented on #71
Likely related to how the native IME handles composition events.
I'll do some debugging later today to gather more info.

[2017-10-28 03:42] jking6884 opened #72 "Text showing non encoded in chrome and firefox"
![image](https://user-images.githubusercontent.com/4825257/32130938-5e8107a4-bb70-11e7-8995-7c6d4b188a3f.png)

this is the code I used

[code]

[2017-10-28 03:56] DJTB commented on #72
Can you show your whole html file?
That looks like a unicode display issue.

You might need `<meta charset="utf-8">` in the `<head></head>` of your html.

[2017-10-28 05:04] #72 closed

[2017-10-28 05:04] jking6884 commented on #72
Thanks @DJTB

[2017-11-03 00:25] DJTB commented on #71
Holding off until we merge #70 since we'll have to do this testing for those changes anyway.

[2017-12-11 17:05] aaron13100 opened #73 "Charset/Encoding configuration question"
I'm trying to do romaji to hiragana. Here is the code I'm using.

[code]

When I type "su" I get this result (the characters ã™ appear).
![screen shot 2017-12-11 at 10 02 42 am](https://user-images.githubusercontent.com/16979849/33843389-7aa353a8-de5a-11e7-941b-d22a69a41e78.jpg)

So two characters appear where there should be す

"sumimasen" becomes ã™ã¿ã¾ã›ã‚“
![screen shot 2017-12-11 at 10 0

[2017-12-11 17:33] vietqhoang commented on #73
You need a UTF-8 meta tag, I think.

`<meta charset="UTF-8">`

[2017-12-11 17:46] aaron13100 commented on #73
Correct. It works now.

[2017-12-11 17:46] #73 closed

[2017-12-11 17:46] aaron13100 commented on #73
thanks

[2017-12-16 03:55] agj opened #74 "toHiragana('ATTA') → 'あッた'"
Like in the title, if the input for toHiragana() is uppercase, っ gets rendered in katakana instead of hiragana.

Good job and thanks for wanakana. 👍

[2017-12-16 06:58] DJTB commented on #74
Oh that's embarassing :laughing:

[2017-12-16 07:04] #74 closed

[2017-12-18 02:47] DJTB commented on #68
Alright so everything is now merged to dev, and I'm going to try to find some time and devices to manually test input with the dev branch :+1:

[2017-12-18 02:52] DJTB commented on #68
FYI: after further thought I actually removed ヶヵ from toRomaji

The ヶ ヵ forms can be read as "ka, ga, or ko" in different situations and are effectively being used as symbols/kanji (and not as kana) when seen in 一ヶ月 etc. Therefore we should make no assumptions about converting them.

However, allowing the individual small forms to be entered specifically via (x|l)(ke|ka) in `toKana()` is still a v

[2017-12-24 05:16] DJTB commented on #69
@Mamonbo we've made some changes, you can `npm install wanakana@beta` if you'd like to try out `toRomaji()` and give feedback.

[2017-12-24 05:16] DJTB commented on #68
You can `npm install wanakana@beta` if you want to easily try out your changes in a local project. I still want to do some more device testing before releasing normally.

[2017-12-24 05:24] DJTB commented on #65
There have been some recent changes in dev allowing custom mapping to occur.

If anyone wants to try a PR for kunrei, you can clone or fork https://github.com/WaniKani/WanaKana/tree/kunrei-romanization

You'll want to take a look at how hepburn is implemented in `src/kanaToRomajiMap.js`
Any questions ping @Geggles and @DJTB

[2018-01-13 04:04] DJTB commented on #56
Seems `autocorrect="off"` should actually still be `"none"` (only helps out on safari though since it's non-standard). Only `autocapitalize` was deprecated.

Have updated the docs respectively.

[2018-01-23 11:39] DJTB commented on #71
Sorry for the long delay, this is a tricky pickle.
Seems React is having the same trouble.
https://github.com/facebook/react/issues/8683

I can probably re-write the temporary workaround from that thread for use outside of React and within `bind()`.

Could you visit https://eyesofkids.github.io/ and try out your 'は' tab -> '歯' etc flow in the second input "uncontrolled". The red text is what you s

[2018-01-23 21:24] jimrhoskins commented on #71
I tried this out. I typed in `ha`, was able to tab through selections without triggering any change in the red text. I hit enter which collapsed the IME suggestion list, again no change in red text. The input is still selected indicating it is still composing. One final press of enter caused the red text to update, and puts the cursor at the end of the input. Seems to work as expected.

[2018-01-24 09:54] halfsprit opened #77 "Wanakana website / toKana not working in UC Browser 6.2 (Edge kernel) for Win 10"
I open the website wanakana.com in Win10 IE ，it doesn't work, can't conver romaji to kana.

[2018-01-24 11:25] DJTB commented on #77
Which version of IE are you using?
You can get all the details here: https://whichbrowser.net/

[2018-01-24 15:26] halfsprit commented on #77
I use UC(http://www.uc.cn/) browser and switch the kernel to IE，wanakana can't conver romaji to kana.

You are using UC Browser 6.2 on Windows 10

Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; rv:11.0; UBrowser/6.2.3964.2) like Gecko

It works ok in original EDGE browser，but it seems that can't work in browser use IE/Edge kernel, I create a program using ie kernel, wanakana don't work.

[2018-01-25 05:18] DJTB commented on #77
Can you try saving the following as `test.html` and opening it in UC browser?
It's worth checking if the problem is actually with the demo website or Wanakana.

[code]

[2018-01-25 10:31] halfsprit commented on #77
No, it still can't work.

[2018-01-25 10:38] halfsprit opened #78 "japanese punctuation miss some character"
"≪≫" ("\u226a\u226b") are missed in the constant.js export const FROM_ROMAJI

[2018-01-25 13:07] DJTB commented on #78
≪≫ ("\u226a\u226b") are mathematical symbols (in English) and cannot be typed on a standard English keyboard so it doesn't make sense to convert toKana.

There are also the similar marks « » ("\u00ab\u00bb") for double quotes in French, German etc. but they aren't used in English, or on an English keyboard either.

Do you think ≪≫ should convert to 《》 or something else?

In the next major release

[2018-01-25 13:08] DJTB commented on #78
Can you give an example where ≪≫ would be typed in English?

[2018-01-25 13:27] halfsprit commented on #78
I've seen "≪≫“ many times in some Japanese website, so I think they should regard as Japanese punctuation char within isCharJapanesePunctuation.js。Maybe I'm wrong, because I'm a Chinese。

[2018-01-25 22:54] DJTB commented on #78
Hmm, I think we'll keep the current behaviour unless a native speaker can confirm otherwise.

As far as I can tell from research, using ≪≫ in Japanese text is still incorrect (unless it is maths related) and this is a user/author mistake since ≪≫ are not actually the same as the Japanese punctuation marks 《》.

www.rikai.com/library/kanjitables/kanji_codes.unicode.shtml (not listed)
https://www.had

[2018-01-28 04:25] DJTB commented on #77
Hmm, does it work on mobile? UC Browser on Android?

If it doesn't work on UC Android either, could you try the developer edition http://www.uc.cn/business/developer/ so we can see what errors are happening in the console?

[2018-01-28 16:19] halfsprit commented on #77
It works in UC Browser on Android.
It's can't work in all browsers using IE/Edge kernel like QQ Browser, 2345 Browser etc. neither IE11 nor Edge kernel, but it can work in Original Edge

[2018-01-28 21:35] DJTB commented on #77
Thanks for the information. A group of users has volunteered to test on different devices for me and I'm setting up a proper test page with error logging/ reporting. When that is ready I'll let you know here so you can try again.

[2018-01-29 05:36] DJTB commented on #78
I'm not going to add these by default, but I'm going to add an extra param `allowed=[]` to the `is` functions since I need to use it internally anyway and then users can easily modify the behaviour like we will allow for custom mappings with the `to` functions.

In 3.0
[code]

[2018-02-05 18:51] elusiveunit opened #79 "Incorrect toRomaji conversion for katakana with long vowels (ー)"
Edit: doing the easiest thing last of course, a test that fails on master:

[code]

---

When running `toRomaji('スーパー')` I get the expected 'suupaa' on wanakana.com, but when doing it with the npm version (2.3.4) I get 'su-pa-'. Minimal repro, try toggling the script tags:

**package.json**
[code]

**index.html**
[code]

Also cloned master, ran `npm run build` and used the created `WanaKana/dist/l

[2018-02-05 22:37] DJTB commented on #79
Oof, good catch. It appears that the 3.0 beta API docs and min.js were accidentally copied to the gh-pages branch (despite it saying 2.3.4). I'll fix that back to 2.3.4 now.

The 2.x versions always convert `ー` to `-` regardless of kana type.
[code]
In 3.x this behaviour is indeed remedied to what you expected (and saw on demo site):
[code]

I'm about to do some user testing with 3.0 and shouldn't

[2018-02-05 23:00] #79 closed

[2018-02-06 04:41] DJTB commented on #77
@halfsprit Can you visit https://wanakana-device-test.firebaseapp.com/ and try input *at the bottom of the page in the "Sandbox" input*

It will probably error straight away when you visit - but I'll receive a full stack trace to find out what is breaking on UC Browser.

[2018-02-06 04:44] DJTB commented on #71
@jimrhoskins Sorry to ask you again, but could you visit https://wanakana-device-test.firebaseapp.com

Ignore all the instructions and the form but try composing `ha` _at the bottom of the page in the **"Sandbox"** input_. Thanks!

[2018-02-06 05:57] halfsprit commented on #77
I input watashifa，it convert to わたしふぁ，then the website stops work.

[2018-02-06 17:40] elusiveunit commented on #79
I see, thanks! I'll run with the 3.0 beta when it's available (currently getting 'No matching version found for wanakana@next In most cases you or one of your dependencies are requesting a package version that doesn't exist.').

[2018-02-06 18:23] jimrhoskins commented on #71
@DJTB I tried composing the tricky words on the sandbox on that form, and it appears to work correctly. I was able to compose and tab past the `ha` suggestion into `歯` without wanakana interfering. That field works as I would expect it to 👍 🎉

Thanks for working on this!

[2018-02-06 21:22] DJTB commented on #79
Oh sorry, yarn gives you a list to select from but npm doesn't.
You can try `npm i wanakana@3.0.2-beta.2` or wait for it to be released fully to npm.

[2018-02-07 19:38] elusiveunit commented on #79
Ah, TIL. Apparently npm requires `next` to be a published tag for `@next` to work.

[2018-03-02 02:14] #69 closed

[2018-03-02 02:15] #78 closed

[2018-03-02 02:16] DJTB commented on #77
Can you please check on [wanakana.com](wanakana.com) website again.
It works with IE11 now with polyfills, so hopefully UC Browser doesn't have other features missing.

[2018-03-02 02:17] #71 closed

[2018-03-02 02:18] #68 closed

[2018-03-02 02:20] DJTB commented on #22
Feel like hitting (wanakana.com)[wanakana.com] with your trusty Opera-Mini?

[2018-03-02 11:18] nibarius commented on #22
I've tested in both the browser Opera Mini and the browser Opera for Android and wanakana.com works just fine for me.

[2018-03-02 11:25] DJTB commented on #22
Music to my ears :+1:

[2018-03-02 11:25] #22 closed

[2018-03-02 11:40] DJTB commented on #42
This is an old issue reported back when WanaKana was v1.3.7.
Closing for now since it doesn't appear to be directly related to WanaKana's input handling.

Can be reopened if this is reproduced on a recent version and not just a case of host page rendering / form handling.

[2018-03-02 11:40] #42 closed

[2018-03-15 07:18] halfsprit commented on #77
thanks

[2018-03-15 08:57] DJTB commented on #77
:+1:

[2018-03-15 08:57] #77 closed

[2018-04-03 07:21] sharathvignesh opened #81 "Convert kanji characters to Romaji"
I was using `toRomaji` API to convert characters to Romaji. While Hiragana and katakana were successfully converted, I found that the kanji characters did not get converted to Romaji. Is there any way to get around this ?

[2018-04-03 09:04] DJTB commented on #81
Kanji only has a reading depending on its context, or rather, which word that kanji is being used in.
Wanakana doesn't analyse the semantic content (the meaning) of the input you provide, it only [transliterates](https://en.wikipedia.org/wiki/Transliteration).

You can try [Kuroshiro](https://github.com/hexenq/kuroshiro.js) which uses Wanakana along with [Kuromoji](https://github.com/takuyaa/kurom

[2018-04-04 00:25] vietqhoang commented on #81
I believe [Ve](https://github.com/Kimtaro/ve) has a JS library which may do kanji -> kana. Something to look into. It is a project by Kim of [jishi.org](https://www.jisho.org).

[2018-04-04 03:40] DJTB commented on #81
@sharathvignesh No problem, best of luck!
Here's a fun one with 5 different readings of  to think about: "3月1日は日曜日で祝日、晴れの日でした"

[2018-04-04 03:41] #81 closed

[2018-04-06 07:43] sharathvignesh commented on #81
I found [Mecab](https://github.com/hecomi/node-mecab-async) which was good too. It converts them to Katakana, from which I was able to convert it to romaji using WanaKana's toRomaji.

[2018-04-07 00:46] DJTB opened #82 "Intermittent Android / GBoard 'n' bug"
GBoard is one of the only keyboards that functions like an IME and submits IME events even in English mode (if autosuggestions are turned on). React, DraftJS and other Rich Text Editor implementations have been struggling with GBoard issues for a while now. Fortunately I've been able to work around most of the more heinous issues.

If an IME submits Japanese text in a compositionupdate event we th

[2018-04-26 07:31] #82 closed

[2018-05-20 06:32] caguiclajmg opened #83 "toRomaji('きャ', { upcaseKatakana: true }) behavior"
I'm currently working on a .NET port of WanaKana and tested some input variations so I can compare my port's output against WanaKana's. Testing `toRomaji()`, I got these results:

`toRomaji('きャ', { upcaseKatakana: true })` = **kya**
`toRomaji('キゃ', { upcaseKatakana: true })` = **kya**
`toRomaji('キャ', { upcaseKatakana: true })` = **KYA**
`toRomaji('ッきゃ', { upcaseKatakana: true })` = **kkya**
`toRom

[2018-05-20 07:56] caguiclajmg commented on #83
Might've missed that part when I was poking around the source tree.

That's what I initially thought as well, I was just thinking of ways to break the parser (some input that could lead to a non-breaking loop, causing future tokens to be parsed incorrectly, etc.); but thanks for the clarification

[2018-05-20 08:10] #83 closed

[2018-06-09 14:12] retorquere opened #84 "String with Kanji not recognized as Japanese/only partial romajization"
When the input string is mixed Kanji/Hiragana/Katakana, it is not recognized as Japanese, and the transformation to Romaji leaves the Kanji characters:

[code]

outputs

[code]

[2018-06-10 05:10] DJTB commented on #84
[code]
`passRomaji` is for use with converting to kana, it has no affect in toRomaji.
http://wanakana.com/docs/global.html#toHiragana

Kanji characters are not converted to romaji because their reading is contextual, which is outside the scope of Wanakana.

You can see an explanation and possible approaches to handle this here:
https://github.com/WaniKani/WanaKana/issues/81

[code]

This string ha

[2018-06-10 05:32] retorquere commented on #81
The JS version of Ve only connects by http to the ruby version if I'm reading it correctly. It's not usable without that ruby server running I think. mecab executes an executable, so also not usable in a pure-js environment.

[2018-06-10 05:34] retorquere commented on #84
I get input where names are apparently commonly in Kanji. The solutions listed in #81 won't work for my context as they depend on external executables (I've added a comment to #81).

Thanks for the feedback in any case. I'll try to hack around kuroshiro.

[2018-06-10 09:20] #84 closed

[2018-09-27 08:39] loretoparisi opened #85 "[QUESTION] How it works?"
Hello I'm contributing to [kakasi.js](https://github.com/loretoparisi/kakasi.js) as simple kanji kana inverter based on [kakasi](http://kakasi.namazu.org/index.html.en), mostly used to convert to romanji. I would like to combine this with WanaKana. Now kakasi is using SKK [dictionaries](https://github.com/skk-dev/dict)  and rules. I don't find details how WanaKana works for romaji to kanji inversi

[2018-09-27 09:51] DJTB commented on #85
WanaKana is only for hiragana/katakana/romaji input, it is not intended to convert to/from kanji. It's a very literal converter: `aiueo = あいうえお`

It _mainly_ works by following trees `k -> y -> o -> u : きょう` though there's a lot of edge cases which complicate things :)

You could take a look at these for kanji -> kana/romaji, both of which use dictionaries:
* Java: https://github.com/atilika/kurom

[2018-09-27 09:51] #85 closed

[2018-09-27 10:07] DJTB commented on #85
Oh, I just noticed that kanji was mentioned at the start of the readme.

I think that was there because we include helpers like `isKanji()` but we don't actually provide any conversion methods for kanji.

I've updated that to be clearer now. Sorry for any confusion!

[2018-09-27 10:08] loretoparisi commented on #85
@DJTB thanks a lot, we have just passed the output to a native speaker, and she realized that it was in that way! So functions like `isKanji()` are not implemented?

[2018-09-27 10:16] DJTB commented on #85
`isKanji()` is implemented, but it is a strict check so 銀行 is true but お茶 and 深い are false.
Unfortunately I don't think it can help you very much.
It is more for text/input handling and converting.

[2018-10-22 20:38] ishigamii opened #86 "how can I get ぢ: 'ji', づ: 'zu' ?"
Hi, first thanks for the library that is very nicely done 👍
I am just having trouble with this little thing as in the past lib I was using I was about to get those two caracteres as they were "dji" and "dzu".

I am asking the library to translate from romanji "ji" and I always get the other "ji" : じ same for "zu" is there any way to get the other one : ぢ ? I saw that you have a custom mapping for

[2018-10-23 11:12] DJTB commented on #86
Which methods are you trying to use?
I'm not sure that I understand what you would like to achieve.
Some examples might help.

This works fine for me:
[code]

[2018-10-23 11:46] ishigamii commented on #86
I thought the following wasn't possible but it is working so I will close this issue sorry.
[code]

[2018-10-23 11:46] #86 closed

[2018-10-27 11:57] ishigamii opened #87 "React-native Android crash in Release only"
I don't know if react-native issues are in your scope but as it is in the documentation talking about react-native so hope it will still be interesting 👍

## Issue Type
* [X ] Bug

## Description
On Android, **only in Release**,  when I use wakana in the first appearing view, the app just crash.

I tried using it in :
[code]
 or  in
[code]
Also tried to add a delay (I thought it was a problem of i

[2018-10-27 12:50] DJTB commented on #87
The build which is exposed to react-native doesn't include any transpilation - so it's most likely failing when coming across array/string/object spread `...` syntax. I don't have any experience with `react-native` yet but you could keep an eye on this issue which looks to be exactly the same problem:
https://github.com/facebook/react-native/issues/21734

[2018-10-27 12:59] ishigamii commented on #87
@DJTB I am not sure it's link as I am not mapping from string but could be linked anyways so I will keep an eyes on it 👍Thanks for your reply I will keep you updated. For the moment I used a bypass to make it work another way.

[2019-06-20 13:38] Starwort opened #88 "Please add my port!"
I made a port

https://github.com/Starwort/wanakana-py

Published to PyPI as `wanakana-python`

[2019-06-24 23:12] DJTB commented on #88
Hey Starwort, thanks for your contribution!
I've updated the readme to include your port 👌

[2019-06-24 23:12] #88 closed

[2020-04-13 03:57] gonzales-gerald opened #98 "Kanji to katakana conversion"
I would like to know if it is possible to convert Kanji input to Katakana. I'm currently using Kuroshiro but it is loading files too heavy too load for the first time.

[2020-04-13 04:09] vietqhoang commented on #98
WanaKana is a romaji, hiragana, and katakana transliteration utility. It doesn’t do any kanji to kana conversions.

[2020-04-13 06:43] #98 closed

[2020-04-17 12:35] Neicul123 opened #99 "Caps Lock turning off on android with predictive text enabled"
## Issue Type

* [X ] Bug
* [ ] Feature

## Description

The following bug occurs on android with both GBoard and Samsung Keyboard.

When predictive text/suggestion strip is toggled on in the keyboard settings, it will disable caps after a character conversion while entering katakana (with caps on).

So entering AMERIKA will result in アめりか as caps turns off after converting the first character. It

[2020-05-17 09:51] GoldenPunk opened #100 "[QUESTION] Is it possible to type both kana and romaji in the same input without having the romaji immediately converted to kana?"
I am pretty new to wanakana, github, and coding in general, so if I am posting in th wrong place, please let me know.

I am trying to create an input where the user can type things like:
その NASA は なん です か。

I gave the input a class that I toggle when pressing the AltGr key. Then, I check if the input has that class in order to bind, or unbind wanakana, thus making it possible to write romaji in th

[2020-05-18 06:34] DJTB commented on #100
Hey there!

Handling conversion gets a bit awkward due to a number of edge cases related to cursor positioning, whether the input is coming from an English input or from an IME that is set to Romaji input etc etc.

The main issue causing you trouble is that when a new romaji character is entered and the input cursor is not at the beginning, we check backwards for preceding romaji in order to handl

[2020-05-18 07:02] GoldenPunk commented on #100
Thank you very much for your help, @DJTB.

Isn't capitalization important, for typing both hiragana and katakana in the same input?

As for making a Pull Request, I am still getting my way around coding and GitHub. I will have to study it a bit more before doing something that I do not quite understand, yet.

In the meantime, would it be acceptable to post a _feature request_ on the _issues_ page,

[2020-05-25 07:26] DJTB commented on #100
As for capitalization, I was making an assumption based on this:

その NASA は なん です か。

I'm not sure what you will be doing with the result from the input, so maybe that's not feasible.

You're more than welcome to. If capitalization is important to your input it probably makes more sense to add the methods `.pause()` and `.resume()` to the input listener, and on resume it will not try to convert an

[2020-09-23 08:21] quannt commented on #53
@vietqhoang @DJTB Seems like if I just do `import { isHiragana } from 'wanakana'`, the umd version of wanakana would be included, which means there's no tree shaking.

This is because the default [target](https://webpack.js.org/concepts/targets/) of webpack is `'web'` and wanakana sets the default entry for browser to the umd version

[code]

I have to do `import { isHiragana } from 'wanakana/es'`

[2020-09-29 10:19] escs98210 opened #104 "Is it possible to use WanaKana within a "contenteditable div", instead of an "input", or "textarea"?"
## Question

As the title says, can I bind WanaKana to a `<div contenteditable="true"></div>`, instead of an `<input>`, or a `<textarea>` element?

I would like the users to be able to style the text (bold, italic and underline). Hence, the preference for a contenteditable div.

[2020-10-04 22:41] DJTB commented on #104
It might be possible, though I can envision a few potential problems occurring such as wanakana attempting to convert any markers within the div for styling. If you only bound to inner elements it might be okay (e.g. if a user sets italic, you move the binding to _within_ the styled element rather than the parent div which contains mixed content (text and styling markers). Depends how your text st

[2020-10-05 12:45] escs98210 commented on #104
I'm sorry if it is a dumb question, (I am just a hobbyist programmer) but how do I "_disable that early exit_"?

I saved the code at https://unpkg.com/wanakana as a file called wanakana.js.
Next, I linked it to my .html by putting `<script src="wanakana.js"></script>` in the `head` of my .html document.
Then I opened the wanakana.js, looked for and deleted this part:
`if (!Xf.includes(t.nodeName))

[2020-10-07 03:19] DJTB commented on #104
That was the right code to remove based on my suggestion.

Looking deeper though, I see we convert the text that is contained within an element's [value](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement) - which is not a property that exists on plain elements like divs. We could possibly switch to [textContent](https://developer.mozilla.org/en-US/docs/Web/API/Node/textContent).

E

[2020-10-07 06:06] escs98210 commented on #104
I understand. Thank you for all your help!

[2020-10-09 04:18] #104 closed

[2021-01-04 01:48] profburke opened #106 "Swift port just published."
I have ported the library to Swift(*) and have used it in a few of my iOS apps. Recently, I thought I would make the code available and would appreciate it if you could link to it in your README.

My repo is at https://github.com/profburke/WanaKanaSwift/

Also, if possible, can it be linked from https://wanakana.com/ -- I notice the Python port is listed there, so it may be you don't have access t

[2021-01-10 23:35] DJTB commented on #106
Thanks for contributing Matt! 🥇
I've updated the readme and website to include your port - let us know if you finish the re-write and I'll update it again.

[2021-01-10 23:35] #106 closed

[2021-02-27 05:49] mimshwright opened #108 "Consider decoupling the bind / dom functionality from the core library"
Hi! it's been a while!

When we first created this, the `bind()` method was everyone's favorite feature - that was back in the days when most websites used JQuery. Now that we have npm, I was thinking it would make more sense to remove the parts that interface with the dom into their own package. For example `wanakana` and `wanakana-dom`.

I like it because:
- it separates concerns of the code. Pr

[2021-03-02 23:45] DJTB commented on #108
Separation makes sense to me, I _think_ we would mostly just move a few files: `bind`, `unbind` and `dom`.
Can probably remove some polyfills by now as well to cut down the bundle size.

Personally I don't have the cycles to implement this without a strong request for it, but I'm not opposed to it happening either.

Also, not a blocker, but worth nothing that for React etc, I would still always us

[2021-05-06 11:25] Tommi377 opened #111 "toKana() seems to not allow combinations んや んゆ んよ"
## Issue Type

* [X ] Bug (https://github.com/WaniKani/WanaKana/blob/master/.github/CONTRIBUTING.md#bug-reports)
* [ ] Feature (https://github.com/WaniKani/WanaKana/blob/master/.github/CONTRIBUTING.md#feature-requests)

## Description

The current behaviour is:
String: nnya, ToKana: んにゃ
String: nnyo, ToKana: んにょ
String: nnyu, ToKana: んにゅ

On the Google IME expected behaviour is:
String: nnya, ToKa

[2021-05-07 15:47] Tommi377 commented on #111
fixed this by adding { customKanaMapping: { nn: 'ん' }}. Shouldn't this be default behaviour?

[2021-05-15 12:36] esnaultdev commented on #111
I think that you're looking for `toKana(input, { IMEMode: true})`.
As [documented here](http://wanakana.com/docs/global.html#defaultOptions), IME mode is turned off by default and needs to be activated to match your expectations.

[2021-07-19 17:31] sudofox opened #118 "Option to output romaji with spaces (or as array?) to show for ruby-text"
## Issue Type
Feature

## Description

When using Wanakana to produce romaji for furigana, we should have an option to split the output romaji with spaces so that the ruby-text distributes them evenly to display above the proper characters.

While splitting the input text into space-separated characters (`.split("").join(" ")`) before turning it into romaji sort of works, it causes other text to b

[2021-07-29 00:07] DJTB commented on #118
@sudofox I think what you're truly after is outside the scope of Wanakana.
Furigana isn't just evenly spaced, it should be matched to the respective kanji, with redundant romaji omitted.

I would recommend using something like https://github.com/Doublevil/JmdictFurigana to determine which romaji should be displayed above which characters. You can see an implementation in react I did a while ago he

[2021-09-08 23:25] mimshwright opened #124 "General Refactoring Feedback"
For no particular reason (curiosity? practice? boredom?) I was taking a pass at the repo to see how it's working. I found a few tiny details that I'm submitting as PRs.
I have been making a pass on the isChar... functions to use a more DRY approach, for example, they mostly use a new function that takes `ranges` and `char` making it possible to write most of them in pointfree style. I think it cou

[2021-09-09 23:08] vietqhoang commented on #124
If you see doing a refactor will yield great benefits, then I say go for it.

I can make myself available for some review. I'll see if our resident front-end JS person would be interested in getting involved as well.

[2021-09-13 00:07] DJTB commented on #124
No specific opposition here, I can take a look at any PRs. May be a little slow, but I'll get to them.

I wonder if a functional version should be released under a separate package though like `WanaKana-fp`?

[2021-11-17 21:10] mimshwright commented on #124
Thanks for responding guys. I actually didn't get any notification from GitHub. Oops!

I may take a look at this again but now I'm out of the country for a while and currently only have internet thru my phone.

Re a new repo... I'll let you decide if you think it qualifies. I would think a new major version is acceptable since i don't think it would be vastly different. But whatever works.

[2021-12-21 05:38] CalculusAce opened #126 "Wanakana Support for くぃ, くぇ, くぉ"
## Issue Type
Wanakana Bug

## Description
I was testing Wanakana's support for typing shortcuts for a new project I am working on and discovered that the shortcuts for くぃ, くぇ, and くぉ are not currently supported in Wanakana. These shortcuts are supported by other standard IME solutions, so I think they should be implemented into Wanakana.

These shortcuts save a keystroke, since they prevent the n

[2021-12-28 07:40] DJTB commented on #126
Thanks for the message, we'll consider adding these by default.

In the meantime, you should be able to use the custom mapping option for your desired result.
http://wanakana.com/docs/global.html#defaultOptions
[code]

[2021-12-29 00:05] CalculusAce commented on #126
@DJTB Thank you for considering adding those into the default conversions and for pointing out a blind spot I had in the docs that allows me to overcome the issue I was having. I will stick with the custom mapping until they are merged into the default conversions.

[2022-01-14 14:35] lpares12 opened #127 "Integration between wanakana and Alpine.js fails after unbinding a DOM element from wanakana"
## Issue Type

- [x] Bug
- [ ] Feature

## Description

Integration between Alpine.js and wanakana fails after the `wanakana.unbind(domElement)` call. After this, Alpine variable is not correctly updated, and only the DOM.value is usable. Not sure if the same problem arises with other framworks.

For example, If I have the following input:

[code]
Where `inputWord` is an Alpine.js variable that wi

[2022-01-28 14:26] skytomo221 opened #128 "Option for leaving long vowel mark (ー) in toHiragana"
## Issue Type

* [ ] Bug (https://github.com/WaniKani/WanaKana/blob/master/.github/CONTRIBUTING.md#bug-reports)
* [x] Feature (https://github.com/WaniKani/WanaKana/blob/master/.github/CONTRIBUTING.md#feature-requests)

## Description

I would like feature like this:

[code]

[2022-01-30 12:31] whimsee opened #129 "How to reset custom mapping?"
This probably isn't an intended use of it but I stumbled across Wanakana when I was looking for a kana -> romaji conversion tool for a project I'm working on. Basically, I just want to convert kana to readable base romaji, Hepburn w/ macrons, and other romanization systems then display them on a website.

The custom maps work like a charm, but I'm having trouble finding a way to reset or replace t

[2022-02-07 22:29] DJTB commented on #128
This seems like a reasonable request given that long vowels aren't _always_ exclusive to katakana (e.g. らーめん).
Though given that this would usually be on a case by case basis for any given word, I wonder if it's useful as a general option.

@skytomo221  Can you explain your use-case further? It would help to determine how this should be implemented.

[2022-02-07 22:42] DJTB commented on #129
Hey @whimsee good catch!
It looks like we only apply a custom mapping if one is not already set, probably as a performance optimization.
I'll take a look at fixing this up for you.

[2022-02-18 08:54] halfsprit opened #133 "A sample win32 app using wanakana"
![wanakana示例](https://user-images.githubusercontent.com/35736247/154650118-85c55657-fa9d-45d6-ad6d-b0880531ee9b.png)

[2022-04-15 02:15] #129 closed

[2022-04-15 02:21] #128 closed

[2022-04-15 02:24] #126 closed

[2022-05-12 01:04] CalculusAce opened #136 "WanaKana Browser Source Issue"
## Issue Type
Bug

## Description
Using https://unpkg.com/wanakana to source WanaKana for browser use results in an error occurring on this line:

Object.defineProperty(exports, '__esModule', { value: true });

However, sourcing WanaKana from this URL works as expected: https://unpkg.com/wanakana@5.0.0/wanakana.min.js

Perhaps an unpkg field needs to be added to package.json to point to the right

[2022-05-12 04:54] DJTB commented on #136
Thanks for the heads up, I'll take a look later today!

[2022-05-12 12:39] #136 closed

[2022-05-12 12:41] DJTB commented on #136
May take a little time to propagate, but releasing now 👍

[2022-05-31 15:56] mimshwright opened #141 "Convert to Typescript?"
Mentioned by @DJTB in #139

Hey, what if we converted to ts? Would there be interest?

I took a quick look at the effort involved. It doesn't look like converting the code would take long at all and I'd be happy to do it. However, hacking together the right config files to make it compile might and I'd rather not do that. Perhaps it might even be more prudent to try copying the source to a new [ts

[2022-06-01 00:00] DJTB commented on #141
All for typescript, considered it myself once or twice for this repo but didn't find the time yet.

I haven't used either of the boilerplates referenced, but `ts-dx` looks to have almost the same setup - I'm happy with everything that comes included with.

I'd say go with that and let's get existing functionality + jest tests working - then I could take a look at re-adding cypress tests pre-releas

[2022-06-04 04:26] mimshwright commented on #141
I'm  giving it a shot.

[2022-06-04 04:30] mimshwright commented on #141
Do you know anything about `tokenize( input, {detailed: true})`? It doesn't appear to be used internally at all except in a few tests. Maybe we can make it a separate function to simplify the type checks.

[2022-06-04 04:41] DJTB commented on #141
Is it exported/exposed in the final package? I know I've used it before,
not sure of the context (perhaps with my react-furi package). Afk at the
moment, but I'll check more thoroughly later today.

On Sat, 4 Jun 2022, 14:30 Mims H. Wright, ***@***.***> wrote:

[2022-06-04 21:00] mimshwright commented on #141
Turns out tsdx is what I started with and it's no longer being maintained. Going to see if I can find some other alternative.
Furthermore, I had been working from my own fork without realizing it so i started doing the conversion on code that was several months old. Now i'm kinda stuck in a corner. Blegh.
I think what may be best is if i can try to move the project to a very barebones setup with n

[2022-06-04 22:48] mimshwright commented on #141
If I'm being honest (with myself) i kind of have a ton of stuff to do right now and i think i took this on as a form of procrastination. I might need to step away for a while and not touch it until i actually have the free time.

[2022-06-05 04:45] DJTB commented on #141
No problem, I know the feeling!
If I have some downtime I might try adding TS to the current setup to at least enable a conversion to occur easily.

[2022-06-26 03:49] ImUrX opened #142 "there should be hyphen support for romaji"
Before opening a new issue, please take a moment to review our [**community guidelines**](https://github.com/WaniKani/WanaKana/blob/master/.github/CONTRIBUTING.md) to make the contribution process easy and effective for everyone involved.

**Before opening a new issue, you may find an answer in already closed issues**:
https://github.com/WaniKani/WanaKana/issues?q=is%3Aissue+is%3Aclosed

## Issue

[2022-06-27 09:19] DJTB commented on #142
Thanks for your comment, though I'm not sure I understand your request:
[code]

Likewise, with the IME we convert `-` to `ー` if the user enters a hyphen.

If you're actually asking that `recoodo` could automatically convert to `reco-do`.  I don't think we will consider support for converting extended vowel sounds to a long dash in katakana the way we already do with hiragana. It's normal for the l

[2022-06-27 13:29] ImUrX commented on #142
yeah you are right, using ``toKatakana`` is just the way to do it lol. There are very few cases of - being used for that in hiragana

[2022-07-10 14:36] halfsprit opened #143 "why toKana('ＡＢＣＤ') get 'ａｂｃｄ'"
why
     toKana('ＡＢＣＤ') get 'ａｂｃｄ'
but
     toHiragana('ＡＢＣＤ') get 'ＡＢＣＤ'
     toKatakana(toKatakana(str)) get  'ＡＢＣＤ'

[2022-08-05 15:35] lpares12 commented on #127
Something similar happens with Vue 3 after installing with npm. Even worse, it happens always, without the need to perform an `unbind` and `bind` again

[2022-08-07 07:57] shtse8 opened #146 "Can we normalize the width of japanese?"
<html>
<body>

U+FF6x |   | ･ | ｦ | ｧ | ｨ | ｩ | ｪ | ｫ | ｬ | ｭ | ｮ | ｯ
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
U+FF7x | ｰ | ｱ | ｲ | ｳ | ｴ | ｵ | ｶ | ｷ | ｸ | ｹ | ｺ | ｻ | ｼ | ｽ | ｾ | ｿ
U+FF8x | ﾀ | ﾁ | ﾂ | ﾃ | ﾄ | ﾅ | ﾆ | ﾇ | ﾈ | ﾉ | ﾊ | ﾋ | ﾌ | ﾍ | ﾎ | ﾏ
U+FF9x | ﾐ | ﾑ | ﾒ | ﾓ | ﾔ | ﾕ | ﾖ | ﾗ | ﾘ | ﾙ | ﾚ | ﾛ | ﾜ | ﾝ | ﾞ | ﾟ

</body>
</html>

Can we normalize the width of string

[2022-09-25 03:02] SnowySailor opened #147 "Mutiple sokuon in a row are not reflected in wanakana.toRomaji"
## Issue Type

* [x] Bug (https://github.com/WaniKani/WanaKana/blob/master/.github/CONTRIBUTING.md#bug-reports)
* [ ] Feature (https://github.com/WaniKani/WanaKana/blob/master/.github/CONTRIBUTING.md#feature-requests)

## Description

Multiple sokuon (っ) in a row are treated as a single sokuon, which seems like it may be a mistake. Example:
![image](https://user-images.githubusercontent.com/632075